html, body, section, .full-height {
  height: 100%;
  font-family: 'Poppins', sans-serif;
} 

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(255, 102, 0);
  color: white;
  text-align: center;
  z-index: 1;
}

.navbar-brand {
  color: white;
}

#pad{
  outline: none;
  box-shadow: none;
  width: 100%;
  min-height: 100px;
  background-color: transparent;
  border: solid;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  resize: vertical;
  overflow-y: auto;
  right: 0%;
  font-family: 'Gloria Hallelujah', cursive;
  color: rgb(112, 128, 144);
  border-color: rgb(0, 0, 0);
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
}

.button {
  background-color: transparent;
  border-color: rgb(0, 0, 0);
  border-radius: 10%;
  cursor: pointer;
}

#markdown {
  width: 100%;
  min-height: 100px;
  background-color: transparent;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  resize: vertical;
  overflow: auto;
  display: none;
  font-family: 'Poppins', sans-serif;
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 0.5%;
}

.sideBar {
  width: 15%;
  height: 85%;
  margin-left: 0.5%;
  border: solid;
  padding: 0;
  position: fixed;
  left: 0;
  top: 8%;
  overflow: scroll;
}
.sideBarTab {
  width: 100%;
  margin-top: 1%;
  border-top: solid;
  border-bottom: solid;
  text-align: center;
}

.notesTab {
  margin-top: 0;
  border-top: none;
}

.sidebarDetail {
  width: 100%;
  height: 20%;
  margin: auto;
  border-bottom: solid;
  text-align: center;
}

.notesDetail {
  display: none;
}

.codeDetail {
  display: none;
}

.calendarDetail {
  display: none;
}

.chatDetail {
  display: none;
}

.screenshareDetail {
  display: none;
}

.musicDetail {
  display: none;
}

.flashcardsDetail {
  display: none;
}

.youtubeDetail {
  display: none;
}

.githubDetail {
  display: none;
}

.presentationDetail {
  display: none;
}

.stickynotesDetail {
  display: none;
}

.fileShareDetail {
  display: none;
}

.socialMediaDetail {
  display: none;
}

.sideBarDiv {
  padding: 0;
}

.noteBook {
  top: 8%;
}

.editButton {
  position: absolute; 
  right: 4.3%;
}

.downloadButton {
  position: absolute; 
  right: 6.8%;
}

.publishButton {
  position: absolute; 
  right: 9.1%;
}

.addDiv {
  position: absolute; 
  right: 0;
}

.addTab {
  position: fixed;
  right: 8%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 102, 0);
  color: white;
  text-align: center;
}

#table {
  font-size: 11px;
  overflow: scroll;
  border: solid;
}

.toDo {
  display: block;
  width: 400px;
  margin-top: 0.5%;
  border: solid;
  font-size: 10px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
  min-height: 150px;
  max-height: 400px;
  overflow: scroll;
}

.toDoHeader {
  padding-top: 1%;
  font-size: 18px;
  margin-bottom: 1%;
}

.completedHeader {
  padding-top: 1%;
  font-size: 18px;
  margin-bottom: 1%;
}

.toDoButtons {
  float: right;
}

ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
  vertical-align: baseline;
}

li, h3 {
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}

button:hover {
  color: #333;
}
/* Heading */
.new-task {
  padding-top: 2%;
}

h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  margin-top: 1%;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: transparent;
  border-radius: 6px;
  color: #888;
  width: 80%;
}
input[type="text"]:focus {
  color: #333;
}

.addToDo {
  margin-top: 1%;
  float: right;
}

/* New Task */
label[for='new-task'] {
  display: block;
  padding-top: 2%;
}
input#new-task {
  float: left;
  width: 90%;
}
p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5%;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 10px;
}
li > label {
  width: 237px;
  margin-top: 2%;
  top: 7px;
  padding-left: 3%;
}
li >  input[type="text"] {
  width: 75%;
  margin-bottom: 1%;
}
li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}

.edit {
  float: right;
  margin-top: 2%;
  border-radius: 10%;
}

.delete {
  float: right;
  margin-top: 2%;
  margin-right: 0.5%;
  border-radius: 10%;
}

.newTask {
  margin-bottom: 1%;
}



